@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    overflow:hidden;
    
    font-family: "Roboto Mono", sans-serif;

    background-color:#8e44ed;
    color: #fff;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin: 30px 50px;
}

.counter{
    font-size: 60px;
    margin-top: 10px;
}

@media(max-width: 665px){
    body{
        flex-direction: column;
    }
}

